<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <small>PRODUCTOS</small>
        </ion-title>
        <ion-buttons slot="end">
            <app-net></app-net>
            <ion-button (click)="pageSincronizar()">
                <ion-icon slot="icon-only" name="sync"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-searchbar maxlength="30" placeholder="Buscar..." [(ngModel)]="search" (ionChange)="buscar($event)">
    </ion-searchbar>
</ion-header>
<ion-content>
    <div style="margin: auto" *ngIf="loadItem">
        <br />
        <p class="ion-text-center">
            <ion-spinner></ion-spinner>
        </p>
        <p class="ion-text-center">Cargando...</p>
    </div>
    <p class="ion-text-center">{{textLoad}}</p>
    <ion-list *ngIf="!loadItem">
        <ion-item *ngFor="let item of items" (click)="findItem(item)">
            <ion-checkbox slot="start" style="display: none !important;"></ion-checkbox>
            <ion-label>
                <p><b>{{item.ItemName}}</b></p>
                <p><b>COD:</b> {{item.ItemCode}} </p>
                <p><b>GRUPO:</b> {{item.GroupName}} </p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingText="Cargando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>