<ion-content class="transparente">
    <ion-grid>
        <ion-row>
            <ion-col size="9" class="headerFondo">
                <small><b class="textoBlanco">{{nombreProduct}}</b></small>
            </ion-col>
            <ion-col size="3" class="headerFondo">
                <ion-button fill="clear" (click)="cerrar(1)">
                    <ion-icon name="close" class="iconClose"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-segment [(ngModel)]="segmentModel">
            <ion-segment-button (click)="cambiartipollenado(false)" value="{{sindescuento}}">
                <ion-label>SIN DESCUENTO</ion-label>
            </ion-segment-button>
            <ion-segment-button (click)="cambiartipollenado(true)" value="{{condescuento}}">
                <ion-label>CON DESCUENTO</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-grid>
    <ion-card>
        <ion-grid>
            <ion-row *ngIf="descuentoadicional > 0">
                <!-- precio inicial -->
                <ion-col><b class="ion-text-center">PR: {{precioNetoInicial}}</b></ion-col>
                <!--  Descuento -->
                <ion-col><b class="ion-text-center">PD: {{descuentoadicional}}</b></ion-col>
                <!-- precio final -->
                <ion-col><b class="ion-text-center">PA: {{precio}}</b></ion-col>
            </ion-row>
            <!-- <ion-row *ngIf="estadostocks == 1">
                <ion-col>Comprometido: {{conprometidoheader}}</ion-col>
                <ion-col>Stock: {{disponibleheader}}</ion-col>
            </ion-row> -->
        </ion-grid>
        <div class="container--stock" *ngIf="estadostocks == 1">
            <p class="text-stock">Comp.: {{conprometidoheader | number }}</p>
            <p class="text-stock">Stock: {{(disponibleheader <= 0)?'0':disponibleheader | number}}</p>
                    <p class="text-stock disponible">Disp.: {{disponibleStock | number }}</p>
        </div>
        <ion-list>
            <ion-item>
                <ion-label position="fixed">ALMACEN</ion-label>
                <ion-input readonly="true" class="ion-text-center" value="{{data.dataexport.almacen.WarehouseName}}">
                </ion-input>
            </ion-item>
            <ion-item (click)="selectUnidades()" [disabled]="estado || boniestado">
                <ion-label position="fixed">UNIDAD</ion-label>
                <ion-input readonly="true" class="ion-text-center" value="{{nombreunidad}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">CANT.</ion-label>
                <ion-input type="number" ng-pattern="/[0-9]+/" value="{{cantidadUI}}" [disabled]="estado"
                    class="ion-text-center" (ionInput)="cantidadCal($event)"></ion-input>


            </ion-item>
            <ion-item>
                <ion-label position="fixed">PRECIO</ion-label>
                <ion-input [disabled]="estado" readonly="true" class="ion-text-center" type="text"
                    value="{{precio | currency : currencyDefault + ' ':'symbol':'1.2-4'}}" (ionInput)="precioCal($event)"></ion-input>
            </ion-item>
            <ion-item-divider color="medium"
                *ngIf="(data.dataexport.tipoDoc == 'DFA' && data.dataexport.tipoDocx == 0 && data.ManageSerialNumbers == '1') || (data.dataexport.cliente.DocType == 'DOE' && data.ManageSerialNumbers == '1')">
                <ion-label>SERIES</ion-label>
                <ion-button fill="claer" (click)="actionSeries()" slot="end">
                    <ion-icon name="add" style="color:#ffffff; font-size: 25px"></ion-icon>
                </ion-button>
            </ion-item-divider>
            <ion-item
                *ngIf="((data.dataexport.tipoDoc == 'DFA' && data.dataexport.tipoDocx == 0  && data.ManageSerialNumbers == '1') || (data.dataexport.cliente.DocType == 'DOE'&& data.ManageSerialNumbers == '1')) && seriesSlide.length > 0">
                <ion-label class="ion-text-wrap">
                    <ion-chip color="secondary" *ngFor="let sli of seriesSlide">
                        <ion-label color="dark">{{sli}}</ion-label>
                    </ion-chip>
                </ion-label>
            </ion-item>
            <ion-item
                *ngIf="((data.dataexport.tipoDoc == 'DFA' && data.dataexport.tipoDocx == 0  && data.ManageSerialNumbers == '1') || (data.dataexport.cliente.DocType == 'DOE' && data.ManageSerialNumbers == '1')) && seriesSlide.length == 0 "
                (click)="actionSeries()">
                <ion-label> Selecionar series</ion-label>
            </ion-item>
            <div *ngIf="userdata && userdata[0] && userdata[0].ctrl_lote=='0'">
                <ion-item-divider color="medium" *ngIf="(data.dataexport.tipoDoc == 'DFA' && data.dataexport.tipoDocx == 0  && data.ManageBatchNumbers == '1') ||
                (data.dataexport.cliente.DocType == 'DOE' && data.ManageBatchNumbers == '0')"> 
                <ion-label>LOTES</ion-label>
                <!-- [disabled]="estado" -->
                <ion-button fill="clear" (click)="actionLotes()" slot="end">
                    <ion-icon name="add" style="color:#ffffff; font-size: 25px"></ion-icon>
                </ion-button>
                </ion-item-divider>
                <ion-list *ngFor="let lotex of listaLotes; let i = index">
                <ion-item>
                    <ion-label>
                        {{lotex.loteName}}
                    </ion-label>
                    <!-- [disabled]="estado"  -->
                    <ion-button slot="end" (click)="changecantidadlote(lotex, i)">{{lotex.num}}
                    </ion-button>
                </ion-item>
                </ion-list>
            </div>
            
            <ion-item-divider color="medium" *ngIf="tipollenado && descuentolinea == '1'">
                <ion-label>DESCUENTO</ion-label>
            </ion-item-divider>
            <!--ion-item *ngIf="tipollenado && descuentolinea == '1'">
                <ion-label position="fixed">MONETARIO</ion-label>
                <ion-input maxlength="5" [disabled]="estado" class="ion-text-center" type="number" placeholder="0"
                           value="{{descuentomonetario}}" (ionInput)="descmonetarioCal($event)"></ion-input>
                <b slot="end" color="medium" fill="clear">
                    {{currencyDefault}}
                </b>
            </ion-item-->
            <ion-item *ngIf="tipollenado && descuentolinea == '1' ">
                <ion-label position="fixed">PORCENTAJE</ion-label>
                <!---*ngIf="data.bonificacionx == 0 || data.bonificacion == 0" --->
                <ion-input maxlength="3" [disabled]="estadodes" class="ion-text-center" type="number" placeholder="0"
                    value="{{descuentoporsentual}}" (ionInput)="descporcentualCal($event)"></ion-input>
                <b slot="end" color="medium" fill="clear"> %
                </b>
            </ion-item>
            <ion-item-divider color="medium" *ngIf="tipollenado && auxTLoc==2">
                <ion-label></ion-label>
            </ion-item-divider>

            <ion-item *ngIf="tipollenado && auxTLoc==2">
                <ion-label position="fixed">{{indicador_impuesto}}:</ion-label>
                <ion-button size="default" slot="end" fill="clear">
                    {{ice}}
                </ion-button>
            </ion-item>
            <ion-item *ngIf="tipollenado && auxTLoc==2">
                <ion-label position="fixed">{{indicador_impuesto}} Porcentual:</ion-label>
                <ion-button size="default" slot="end" fill="clear">
                    {{icep}} {{currencyDefault}}
                </ion-button>
            </ion-item>

            <ion-item *ngIf="tice == 'tNO' && auxTLoc==4">
                <ion-label position="fixed">{{indicador_impuesto}} Porcentual:</ion-label>
                <ion-button size="default" slot="end" fill="clear">
                    {{icep | currency : currencyDefault + ' '}}
                </ion-button>
            </ion-item>
        
            <ion-item *ngIf="tipollenado && auxTLoc==2">
                <ion-label position="fixed">{{indicador_impuesto}} Especifico:</ion-label>
                <ion-button size="default" slot="end" fill="clear">
                    {{icee}} {{currencyDefault}}
                </ion-button>
            </ion-item>

            <div id="contenedorcampos">
                
            </div>

            <div *ngIf="manejaPercepcion" >
                <ion-item-divider color="medium" (click)="colapse=!colapse">
                    <ion-label class="ion-text-left">PERCEPCIONES</ion-label>                   
                    <ion-icon slot="end"  [name]="colapse?'remove-circle-outline':'add-circle-outline'" style="padding-right: 10px;"></ion-icon>
                </ion-item-divider>
                <ion-list *ngIf="colapse">
                    <ion-item [disabled]="estado">
                        <ion-label>Grupo percepciones</ion-label>
                        <ion-select [(ngModel)]="dataPercepcion" (ionChange)="setImpuesto()">
                            <ion-select-option  *ngFor="let percepciones of dataGrupoPer" [value]="percepciones.Code">{{percepciones.Name}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item [disabled]="estado">
                        <ion-label>Grupo percepcion manual</ion-label>
                        <ion-checkbox [(ngModel)]="grpPerManual" (ionChange)="setGrupoPerEImpuesto()"></ion-checkbox>
                    </ion-item>                  
                    <ion-item [disabled]="estado"> 
                        <ion-label>PER. dispensador combustible</ion-label>
                        <ion-checkbox [(ngModel)]="perDispCombustible" (ionChange)="setGrupoPerEImpuesto()"></ion-checkbox>
                    </ion-item>    
                    <div class="ion-text-center">
                        <ion-button [disabled]="estado" color="light" size="default" (click)="onRestablecer()" shape="round"> Reestablecer valores</ion-button>
                    </div>
                </ion-list>
            </div>
            
            <ion-item-divider color="medium">
                <ion-label></ion-label>
            </ion-item-divider>
            <ion-item *ngIf="tipollenado">
                <ion-label position="fixed">RESUMEN:</ion-label>
                <ion-button size="default" slot="end" fill="clear">
                    {{totalNeto | currency: currencyDefault+' '}}
                </ion-button>
            </ion-item>
            <ion-item *ngIf="tipollenado">
                <ion-label position="fixed">DESCUENTO :</ion-label>
                <ion-button size="default" slot="end" fill="clear">
                    {{descuentoNeto | currency: currencyDefault+' '}}
                </ion-button>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">A PAGAR:</ion-label>
                <ion-button size="default" slot="end" fill="clear">
                    {{totalNeto-descuentoNeto | currency: currencyDefault+' '}}
                    <!--{{total | currency: currencyDefault+' '}}-->
                </ion-button>
            </ion-item>
        </ion-list>
        <div class="ion-text-center">
            <ion-button shape="round" [disabled]="estado" color="primary" (click)="exeguardardocumento()">Guardar
            </ion-button>
        </div>
    </ion-card>

    <br />
    <br />
</ion-content>